{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Home hero section with welcome message -->
<div class="p-5 mb-4 home-background">
    <div class="container-fluid py-5">
        <div class="home-text-background container col-md-8">
            <h1 class="display-5 fw-bold text-uppercase home-background-text-shadow">Welcome!</h1>
            <p class="fs-4 home-background-text-shadow">"Beware; for I am fearless, and therefore powerful." Mary Shelly, Frankenstain!</p>
            <a href="{% url 'products' %}" class="btn btn-primary btn-lg text-uppercase mt-1">Shop Now</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col mb-4">
            <a href="{% url 'products' %}?category=noir,mystery,thriller">
                <div class="category-box">
                    <div class="category-image crime-category"></div>
                    <button class="btn btn-lg btn-primary category-button">Crime</button>
                </div>
            </a>
        </div>

        <div class="col mb-4">
            <a href="{% url 'products' %}?category=literacy,historical,contemporary">
                <div class="category-box">
                    <div class="category-image fiction-category"></div>
                    <button class="btn btn-lg btn-primary category-button">Fiction</button>
                </div>
            </a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2">
        
        <div class="col mb-4">
            <a href="{% url 'products' %}?category=19th century,20th century,ancient">
                <div class="category-box">
                    <div class="category-image classic-category"></div>
                    <button class="btn btn-lg btn-primary category-button">Classic</button>
                </div>
            </a>
        </div>

        <div class="col mb-4">
            <a href="{% url 'products' %}?category=hardscifi,spaceopera,dystopia">
                <div class="category-box">
                    <div class="category-image science-category"></div>
                    <button class="btn btn-lg btn-primary category-button">Science</button>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}