<footer class="container-fluid footer mt-4">
    <div class="container">
        <div class="row text-center pt-4 pb-4">
            <div class="col-12 col-md-4">
                <p class="footer-heading mt-md-0 mt-2">Quick Links</p>
                <div class="d-flex justify-content-center">
                    <hr class="hr-footer">
                </div>
                <a class="footer-quick-link" href="{% url 'products' %}">All Products</a>
                <br>
                <a class="footer-quick-link" href="">1</a>
                <br>
                <a class="footer-quick-link" href="">2</a>
                <br>
                <a class="footer-quick-link" href="">3</a>
                <br>
                <a class="footer-quick-link" href="">4</a>
            </div>
            <div class="col-12 col-md-4">
                <p class="footer-heading mt-md-0 mt-4">Contact Us</p>
                <div class="d-flex justify-content-center">
                    <hr class="hr-footer">
                </div>
                <p><i class="fa-solid fa-location-dot"></i> Unit 12, West Road
                    <br>
                    Cardiff
                    <br>
                    CF10 4AY</p>
                <p><i class="fa-solid fa-phone"></i> 029 599174</p>
                <a class="footer-email" href="mailto:sales@shellyscorner.co.uk"><i class="fa-solid fa-envelope"></i>
                    sales@shellyscorner.co.uk</a>
            </div>
            <div class="col-12 col-md-4">
                <p class="footer-heading mt-md-0 mt-4">Follow Us</p>
                <div class="d-flex justify-content-center">
                    <hr class="hr-footer">
                </div>
                <a class="footer-social-links pe-2" href="https://www.facebook.com" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
                <a class="footer-social-links pe-2" href="https://www.instagram.com" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>
                <a class="footer-social-links" href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="row pb-4 text-center"></div>
            <div class="col">
                <p><i class="fa-regular fa-copyright"></i> 2024 Shelly's Corner - This is a fictional site for educational purposes only.</p>
            </div>
        </div>
    </div>
</footer>