<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="all-books-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="crime-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Crime
            </a>
            <div class="dropdown-menu" aria-labelledby="crime-link">
                <a href="{% url 'products' %}?category=noir" class="dropdown-item">Noir</a>
                <a href="{% url 'products' %}?category=mystery" class="dropdown-item">Mystery</a>
                <a href="{% url 'products' %}?category=thriller" class="dropdown-item">Thriller</a>
                <a href="{% url 'products' %}?category=noir,mystery,thriller" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="fiction-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu" aria-labelledby="fiction-link">
                <a href="{% url 'products' %}?category=literacy" class="dropdown-item">Literacy</a>
                <a href="{% url 'products' %}?category=historical" class="dropdown-item">Historical</a>
                <a href="{% url 'products' %}?category=contemporary" class="dropdown-item">Contemporary</a>
                <a href="{% url 'products' %}?category=literary,historical,contemporary" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="classic-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Classic
            </a>
            <div class="dropdown-menu" aria-labelledby="classic-link">
                <a href="{% url 'products' %}?category=19th century" class="dropdown-item">19th Century</a>
                <a href="{% url 'products' %}?category=20th century" class="dropdown-item">20th Century</a>
                <a href="{% url 'products' %}?category=ancient" class="dropdown-item">Ancient</a>
                <a href="{% url 'products' %}?category=19thcentury,20thcentury,ancient" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="technology-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Science
            </a>
            <div class="dropdown-menu" aria-labelledby="science-link">
                <a href="{% url 'products' %}?category=hardscifi" class="dropdown-item">HardSciFi</a>
                <a href="{% url 'products' %}?category=spaceopera" class="dropdown-item">SpaceOpera</a>
                <a href="{% url 'products' %}?category=dystopia" class="dropdown-item">Dystopia</a>
                <a href="{% url 'products' %}?category=hardscifi,spaceopera,dystopia" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
        </li>
</div>