<div class="collapse navbar-collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="all-books-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item">By Rating</a>
                <a href="#" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="crime-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Crime
            </a>
            <div class="dropdown-menu" aria-labelledby="crime-link">
                <a href="#" class="dropdown-item">Noir</a>
                <a href="#" class="dropdown-item">Mystery</a>
                <a href="#" class="dropdown-item">Thriller</a>
                <a href="#" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="fiction-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu" aria-labelledby="fiction-link">
                <a href="#" class="dropdown-item">Literary</a>
                <a href="#" class="dropdown-item">Historical</a>
                <a href="#" class="dropdown-item">Contemporary</a>
                <a href="#" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="classic-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Classic
            </a>
            <div class="dropdown-menu" aria-labelledby="classic-link">
                <a href="#" class="dropdown-item">19th Century</a>
                <a href="#" class="dropdown-item">20th Century</a>
                <a href="#" class="dropdown-item">Ancient</a>
                <a href="#" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="technology-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Science
            </a>
            <div class="dropdown-menu" aria-labelledby="science-link">
                <a href="#" class="dropdown-item">HardSciFi</a>
                <a href="#" class="dropdown-item">SpaceOpera</a>
                <a href="#" class="dropdown-item">Dystopia</a>
                <a href="#" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
        </li>
</div>